@model IEnumerable<ContactAppFinal.Models.Contact>

@{
    ViewBag.Title = "GetContacts";
}

<h2>GetContacts</h2>

<div id="contactList">
    <br />
    @if (User.IsInRole("Staff"))
    {
        <p>
            <button type="button" class="btn btn-outline-danger" id="btnAdd">
                Add  new
            </button>
        </p>
    }
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    FName
                </th>
                <th>
                    LName
                </th>
                <th>
                    Is Active
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody id="tblBody">
            <!-- Load jQuery and other required libraries -->
            <script src="~/Scripts/jquery-3.7.1.min.js"></script>
            <script src="~/Scripts/jquery.jqGrid.min.js"></script>

            <!-- Make sure MyCrud.js is loaded AFTER the other scripts -->
            <script src="~/Scripts/MyCrud.js"></script>

        </tbody>
    </table>
</div>

<div id="newRecord" style="display:none" class="container">
    @Html.Partial("_addRecordPartial")
</div>
<div id="editRecord" style="display:none" class="container">
        @Html.Partial("_editRecordPartial")
    </div>




<script>
    $(document).ready(function () {
        loadContacts()
    })
</script>
<body>
    <table id="grid"></table>
    <div id="pager"></div>
    <!-- Load jQuery first -->
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>

    <!-- Load jqGrid after jQuery -->
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>

    <!-- Load custom scripts like MyCrud.js last -->
    <script src="~/Scripts/MyCrud.js"></script>
</body>



