@model IEnumerable<ContactAppFinal.Models.Contact>

@{
    ViewBag.Title = "GetContacts";
}

<h2>GetContacts</h2>

<div id="contactList">
    <br />
    @if (User.IsInRole("Staff"))
    {
        <p>
            <button type="button" class="btn btn-outline-danger" id="btnAdd">
                Add  new
            </button>
        </p>
    }
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    FName
                </th>
                <th>
                    LName
                </th>
                <th>
                    Is Active
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody id="tblBody">
        </tbody>
    </table>
</div>

<div id="newRecord" style="display:none" class="container">
    @Html.Partial("_addRecordPartial")
</div>
@*<div id="editRecord" style="display:none" class="container">
        @Html.Partial("_editRecordPartial")
    </div>*@


<script src="~/Scripts/MyCrud.js">

</script>

<script>
    $(document).ready(function () {
        loadContacts()
    })
</script>


