
@model IEnumerable<ContactAppFinal.Models.Contact>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="contact-list">
    <br />
    @if (User.IsInRole("Staff"))
    {
        <p>
            <button type="button" class="btn btn-outline-danger" id="btnAdd">
                Add  new
            </button>
        </p>
    }
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    FName
                </th>
                <th>
                    LName
                </th>
                <th>
                    Current Status
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody id="tblBody">
        </tbody>
    </table>
</div>
<script src="~/Scripts/MyCrud.js">

</script>

<script>
    $(document).ready(function () {
        loadContacts();
    })
</script>